GridBackground
{
	--grid-background-color: var(--ws-colors-grid-light-grey-1);
	--line-color: var(--ws-colors-grid-light-grey-2);
	--thick-line-color: var(--ws-colors-grid-light-grey-3);
	--spacing: var(--ws-metrics-grid-100);
}